/* 이용안내 */
.ticketing_info .noti_wrap .noti, .payment_info .noti_wrap .noti { font-size: 20px;}
.ticketing_info h3, .payment_info h3 { margin: 45px 0 30px;}
.ticketing_info h3.first, .payment_info h3.first  { margin-top: 30px;}
.ticket_noti + h3 { margin-top: 25px;}
.ticketing_info .noti_wrap + h3 { margin-top: 20px;}
.ticketing_info .bul { font-size: 14px; color: #000;}
.ticket_noti li { float: left; width: -webkit-calc(100% / 3); width: -moz-calc(100% / 3); width: calc(100% / 3);  padding: 0 15px 30px 15px; font-size: 14px; color: #333; text-align: center;-moz-box-sizing: border-box; box-sizing: border-box;}
.ticket_noti li a { font-size: inherit;}
.ticket_noti li:before { display: block; content: ''; width: 80px; height: 70px; margin: 0 auto 5px auto;}
.ticketing_info .tbl_stit { margin: 10px 0 5px; font-size: 16px; font-weight: bold;  color: #000;}
.tbl_type1 + .bul { margin-top: 15px;}
.epass_wrap .bul { margin: 10px 0;}
.epass_wrap .stit { font-size: 16px; font-weight: bold; color: #000;}
.epass_wrap .desc { margin: 5px 0; font-size: 14px; color: #333;}
.self_chk { display: table; background: #f3f4f6;  width: 100%; margin: 10px 0 15px;}
.self_chk p { display: table-cell; width: -webkit-calc(100% / 3); width: -moz-calc(100% / 3); width: calc(100% / 3); padding: 20px 0 15px; text-align: center;}
.self_chk p + p { border-left: 1px solid #fff; -moz-box-sizing: border-box; box-sizing: border-box;}
.self_chk p img { width: auto; height: 200px;}
.self_chk p span { display: block; margin-top: 5px; font-size: 14px; color: #000;}
.e_pass p  { position: absolute; left: 45%; margin-left: 100px; font-size: 14px; color: #000;}
.e_pass .card_tag { top: 85px;}
.e_pass .credit_card { bottom: 40px;}
.e_pass span { display: block; font-size: 13px; color: #666;}
.e_pass span span { display: inline;}

.payment_info .desc_list + h3 { margin-top: 55px;}
.payment_info .desc_list { position: relative;}
.payment_info .desc_list li { margin-left: 170px; font-size: 14px; color: #000;}
.payment_info .desc_list li + li { margin-top: 10px;}
.payment_info .desc_list li p {line-height:22px;font-size:14px;color:#000} /* 171124 추가 */
.payment_info .desc_list:before { display: inline-block; content: ''; position: absolute; top: 0; left: 0; width: 130px; height: 130px; border-radius: 50%;}
.payment_info .desc_list.refund:before { background: #f3f4f7 url('../images/page/ico_refund.png') center center no-repeat; background-size: 70px auto;}
.payment_info .desc_list + .tbl_wrap { margin: 40px 0 0 170px;}
